/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */

/* HSL */
$color1: hsla(235%, 21%, 21%, 1);
$color2: hsla(218%, 17%, 62%, 1);
$color3: hsla(197%, 24%, 94%, 1);
$color4: hsla(353%, 86%, 54%, 1);
$color5: hsla(350%, 96%, 43%, 1);

/* RGB */
$color1: rgba(43, 45, 66, 1);
$color2: rgba(141, 153, 174, 1);
$color3: rgba(237, 242, 244, 1);
$color4: rgba(239, 35, 60, 1);
$color5: rgba(217, 4, 41, 1);

// GUNMETAL: #2B2D42;
// GRAY-BLUE #8D99AE
// ANTI-FLASH WHITE #EDF2F4
// RED (PANTONE)#EF233C
// MEDIUM CANDY APPLE RED #D90429
